@font-face {
  font-family: EB Garamond;
  src: url(./assets/fonts/EBGaramond-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: EB Garamond;
  src: url(./assets/fonts/EBGaramond-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: EB Garamond;
  src: url(./assets/fonts/EBGaramond-Bold.ttf);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 21px;
  padding: 7px;
  border-radius: 10px;
  text-transform: capitalize;
}

.completed {
  text-decoration: line-through;
}

body {
  font-family: EB Garamond;
  font-weight: 500;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  padding-top: 100px;

  background: -webkit-linear-gradient(
    45deg,
    rgb(69, 253, 211),
    rgb(255, 78, 29)
  );
  background: -moz-linear-gradient(45deg, rgb(69, 253, 211), rgb(255, 78, 29));
  background: linear-gradient(45deg, rgb(69, 253, 211), rgb(255, 78, 29));
}

.todo-list {
  width: 600px;
}

.form {
  display: flex;
  align-items: center;
}

.todo-list-input {
  width: 90%;
  height: 40px;

  font-size: 21px;
  font-family: EB Garamond;
  font-weight: 500;

  border: 0;
  border-bottom: 4px solid #9b9b9b;
  outline: none;
  padding-left: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  transition: border-bottom 0.9s ease-in-out;
}

.todo-list-input:focus {
  border-bottom: 4px solid #71e64e;
}

.todo-list-button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 30px;
  color: rgb(184, 184, 184);
  margin-left: 10px;

  transition: color 0.4s ease-in-out;
}

.todo-list-button:hover {
  color: #fff;
  cursor: pointer;
}

.btn {
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  padding: 5px 20px 5px 20px;
  margin-left: 10px;
  cursor: pointer;
  user-select: none;

  transition: all 0.25s ease-in-out;
}

.deleteBtn {
  background-color: rgb(153, 52, 41);
  color: #d3c9c9;
  width: 90px;
}

.deleteBtn:hover {
  background-color: rgb(212, 67, 51);
  color: #fff;
  font-size: 15.3px;
}

.completed-btn {
  background-color: rgb(39, 136, 36);
  color: #d3c9c9;
  width: 130px;
}

.completed-btn:hover {
  background-color: rgb(64, 194, 59);
  color: #fff;
  font-size: 15.3px;
}

.clear-btn {
  font-size: 20px;
  width: 100px;
  font-family: EB Garamond;
  font-weight: 500;
  padding: 1px 16px;

  background-color: rgb(216, 210, 210);
  color: rgb(138, 125, 125);
}

.clear-btn:hover {
  background-color: #fff;
  color: rgb(83, 55, 55);
}
